body {
    font-family: Calibri;
}

h1.main, h2.main {
    border-bottom: 1px solid #ccc;
    text-transform: uppercase;
}

h2.testimonials {
    margin-bottom: 0px;
}

h2.testimonials span {
    font-weight: normal;
    font-size: 12px;
}

.main-wrap {
    width: 1050px;
    margin:0 auto;
}

.header {
    width:100%;
    height:65px;
    border-bottom: 1px #ccc solid;
}

.logo {
    text-transform: uppercase;
    font-style: italic;
    font-family: Georgia;
    font-weight: bolder;
    color: steelblue;
    font-size: 30px;
    float:left;
    margin-top: 10px;
    line-height: 20px;
}

.logo a {
    text-decoration: none;
}

.logo a:visited {
    color:steelblue;
}

.logo span {
    color: #000;
    font-size: 12px;
}
.admin-menu .menu li {
    display: inline;
    margin-right: 20px;
}

.admin-menu .menu li a {
    font-size: 18px;


}

.top-menu {
    text-align: right;
}

.top-menu ul {
    margin: 0;
}

.top-menu  .menu li {
    display: inline;
    margin-right: 20px;
}

.footer-menu {
    float:right;
}

.footer-menu .menu ul {
    list-style: none;
}

.footer-menu .menu li {
    display: inline;
    margin-right: 20px;
}

.footer-menu .menu li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
}

.top-menu  .menu li a {
    font-size: 16px;
}

.menu li a {
    color: #000000;
}

.main-menu {
    float:right;
}

.main-menu ul.menu {
    list-style: none;
    margin-top: 5px;
}

.main-menu .menu li {
    display: inline;
    margin-right: 20px;
}

.main-menu .menu li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 22px;
}

.main-menu .menu li a:visited, .top-menu .menu li a:visited {
    color: #000000;
}

.main-menu .menu li a:hover, .main-menu .menu li a:active, .top-menu  .menu li a:hover, .top-menu  .menu li a:active {
    color: #D40000;
}

.footer {
    width: 100%;
    border-top: 1px solid #ccc;
    padding: 10px 0 10px 0;
}

.testimonials label {
    width: 150px;
}

.shop-button {
    background-color: steelblue;
    color: #fff;
    border: 0;
    padding: 5px 10px;
}

.shop-button {
    cursor: pointer;
    text-transform: uppercase;
}

#button-more {
    margin-top: 10px;
    text-align: center;
}


.cat-product {
    width:28%;
    float: left;
    min-height: 420px;
    border: 1px solid #eee;
    padding: 20px;
    text-align: center;
    margin:5px;
}

.cat-product .image {
    min-height: 225px;
}

.cat-product .price {
    color: #D40000;
    font-size:18px;
    font-weight: bold;
}

.cat-product a {
    text-decoration: none;
}

.product-info .price {
    color: #D40000;
    font-size:30px;
    font-weight: bold;
    font-style: italic;
}

.cat-item-image {
    border: 1px solid #eee;
    width: 200px;
    padding: 10px;
    float: left;
    margin-bottom: 10px;
}
.product-info {
    float: right;
    max-width: 700px;
    text-align: right;
}

.qty span {
    color: green;
}

.label {
    font-weight: bold;
}

.login tr td {
    padding:5px;
}

.message-err {
     color: #D40000;
 }

.message-ok {
    color: #048e1b;
}

.cart {
    display: block;
    width: 220px;
    float: right;
}

.table-zebra tr td {
    border: 1px solid #999;
    padding: 7px;
}

.table-zebra tr.zebra-head td, .table-zebra tr.zebra-foot td{
    background-color: #eee;
}

